<div class="container mt-5 text-center">
  <h2>レビュー一覧</h2>
  <p>コメント数：<%= post.comments.count %></p>
  <div class="row">
    <% post.comments.each do |comment| %>
      <div class="col-md-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="card-title">
              <%= comment.user.name %>
              <span class="float-end"> 総合評価：
              <!--デザイン確認すること-->
                <%= comment.total_star %>
                <!--% comment.total_star.to_i.times do %>-->
                <!--i class="fas fa-star text-warning"></i>-->
                <!--end -->
                <!--% (5 - comment.total_star.to_i).times do %>-->
                  <!--i class="far fa-star text-warning"></i>-->
                <!--% end %>-->
              </span>
              <p class="card-text"><%= comment.comment %></p>
              <p class="card-text">
                <small class="text-muted">投稿日：<%= comment.created_at.strftime("%Y/%m/%d") %></small>
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <div class="row justify-content-center mb-5">
    <div class="col-md-8 justify-content-center">
      <%= form_with model: [post, comment] do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        </div>
        <%= f.hidden_field :post_id, value: post.id %>
        <%= f.submit "送信", class: "btn btn-primary" %>

      <% end %>
    </div>
  </div>
</div>