<h2>レビュー一覧</h2>
<p>コメント数：<%= post.comments.count %></p>
<div class="row">
  <% post.comments.each do |comment| %>
    <div class="col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="card-title">
            <%= comment.user.name %>
            <br>
            <span class="float-end"> 総合評価：
            <!--デザイン確認すること-->
              <%= comment.total_star %>
              <!--% comment.total_star.to_i.times do %>-->
              <!--i class="fas fa-star text-warning"></i>-->
              <!--end -->
              <!--% (5 - comment.total_star.to_i).times do %>-->
                <!--i class="far fa-star text-warning"></i>-->
              <!--% end %>-->
            </span>
            <p class="card-text"><%= comment.comment %></p>
            <p class="card-text">
              <small class="text-muted">投稿日：<%= comment.created_at.strftime("%Y/%m/%d") %></small>
            </p>
          </div>
        </div>
        <% if comment.user_id == current_user.id %>
          <div class="p-3">
            <%= link_to '編集', edit_post_comment_path(comment), class: "btn btn-success" %>
            <%= link_to '削除', post_comment_path(comment), data: { confirm: '本当に削除しますか？' }, method: :delete, class: "btn btn-danger" %>
          </div>
        <% end %>
        <!--レビュー機能入れたら、右上にボタン設置させてみる-->
      </div>
    </div>
  <% end %>
</div>