<div class="container">
  <div class="row">
    <div class="col">
      <h2 class="my-4">ユーザー編集</h2>

      <%= form_with(model: resource, url: registration_path(resource_name), local: :true) do |f| %>
        <%= render "user/shared/error_messages", resource: resource %>

        <div class="field my-3">
          <label>名前</label><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
        </div>

        <div class="form-group">
          <label>メールアドレス</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div class="alert alert-warning">Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
        　<label>新しいパスワード<i>(変更したくない場合は空白のままにしてください)</i></label>
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          <% if @minimum_password_length %>
            <small class="form-text text-muted"><%= @minimum_password_length %>文字以上</small>
          <% end %>
        </div>

        <div class="form-group">
          <label>新しいパスワード再確認<br /></label>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <label>現在のパスワード <i>(変更を確認するには現在のパスワードが必要です)</i></label>
          <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "更新", class: "btn btn-primary" %>
        </div>
      <% end %>

      <div class="alert alert-warning mt-4 text-center" style="margin-left: auto; margin-right: auto; width: fit-content;">
        <h4>アカウント削除</h4>
        <div>本当に退会しますか？ <%= button_to "退会する", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>
      </div>

      <div class="text-center my-2">
        <%= link_to "戻る", :back, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

