<div class="container my-5 posts1">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow p-3">
        <div class="card-body my-3">
          <h3 class="card-title text-center mb-4">新規登録</h3>
          <%= form_with model: @user, url: user_registration_path do |f| %>
            <%= render "user/shared/error_messages", resource: resource %>
            <div class="input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <%= f.text_field :name, class: "form-control", placeholder: "名前", autofocus: true, autocomplete: "name" %>
            </div>
            <div class="input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-envelope"></i></span>
              </div>
              <%= f.email_field :email, class: "form-control", placeholder: "メールアドレス", autofocus: true, autocomplete: "email" %>
            </div>
            <div class="input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
              </div>
              <%= f.password_field :password, class: "form-control", placeholder: "パスワード(#{@minimum_password_length}文字以上)", autofocus: true, autocomplete: "new-password" %>
            </div>
            <div class="input-group my-4">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa-solid fa-key"></i></span>
              </div>
              <%= f.password_field :password_confirmation, class: "form-control", placeholder: "パスワード再確認", autofocus: true, autocomplete: "new-password" %>
            </div>
            <div class="actions mt-4">
              <%= f.submit "登録する", class: "btn btn-primary btn-block mb-3" %>
            </div>
          <% end %>
          <%= render "user/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
