<div class="container my-5 p-3 d-flex justify-content-center">
  <div class="row">
    <div class="col-md-12">
      <h2>新規登録</h2>
      <%= form_with model: @user, url: user_registration_path do |f| %>
      <!--%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>-->
        <%= render "user/shared/error_messages", resource: resource %>

        <div class="field my-3">
          名前<br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
        </div>


        <div class="field my-3">
          メールアドレス<br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field my-3">
          パスワード
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="field my-3">
          パスワード再確認<br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>

        <div class="actions mt-4">
          <%= f.submit "登録する" %>
        </div>
      <% end %>
      <%= render "user/shared/links" %>
    </div>
  </div>
</div>