<div class="container posts1">
  <div class="row">
    <div class="col-md-12 my-3">
      <h2 class="text-center my-4">タグ一覧</h2>
      <div class="row">
        <% tags.each do |tag| %>
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <div class="card-body d-flex flex-column justify-content-between">
                <h5 class="card-title text-truncate"><%= tag.name %></h5>
                <span class="mb-2">(投稿数：<%= tag.posts.count %>)</span>
                <div class="mt-auto">
                  <% if current_admin %>
                    <%= link_to '編集', edit_admin_tag_path(tag), class: "btn btn-success btn-sm" %>
                    <%= link_to '削除', admin_tag_path(tag), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger btn-sm" %>
                  <% else %>
                    <%= link_to '投稿一覧を見る', tag_posts_path(tag.id), class: "btn btn-primary btn-sm" %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>