<div class="container posts1">
  <div class="row">
    <div class="col-md-12 my-3">
      <h2 class="text-center">タグ投稿</h2>
      <% if @tag.errors.any? %>
        <div class="alert alert-danger">
          <h4>以下のエラーがあります：</h4>
          <ul>
            <% @tag.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model: @tag, url: new_admin_tag_path do |tag| %>
        <div class="d-flex justify-content-center">
          <%= tag.text_field :name %>
          <%= tag.submit '追加', class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'index', tags: @tags %>