<div class="row mt-5">
  <div class="col-md-10 mb-4 mx-auto">
    <h2>レビュー一覧</h2>
    <% if post.comments.any? %>
      <p>レビュー数：<%= post.comments.count %></p>
      <% post.comments.each do |comment| %>
        <div class="card shadow-sm mt-4">
          <div class="card-body">
            <div class="card-title">
              <p>投稿者：<%= link_to comment.user.name, user_path(post.user) %></p>
              <hr>
<!--each使えるか検証する-->
              <div class="form-group">
                <div class="d-flex align-items-center mb-2">
                  <p class="my-auto">総合評価　　　　　　：</p>
                  <div id="star_<%= comment.id %>"></div>
                </div>
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    var elem = document.querySelector('#star_<%= comment.id %>');
                    var opt = {
                      score: "<%= comment.total_star.present? ? comment.total_star : 0 %>",
                      readOnly: true,
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                    };
                    raty(elem, opt);
                  });
                </script>

                <div class="d-flex align-items-center mb-2">
                  <p class="my-auto">ドッグランの広さ　　：</p>
                  <div id="star_extent_<%= comment.id %>"></div>
                </div>
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    var elem = document.querySelector('#star_extent_<%= comment.id %>');
                    var opt = {
                      score: "<%= comment.extent_star.present? ? comment.extent_star : 0 %>",
                      readOnly: true,
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                    };
                    raty(elem, opt);
                  });
                </script>

                <div class="d-flex align-items-center mb-2">
                  <p class="my-auto">清潔さ　　　　　　　：</p>
                  <div id="star_clean_<%= comment.id %>"></div>
                </div>
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    var elem = document.querySelector('#star_clean_<%= comment.id %>');
                    var opt = {
                      score: "<%= comment.clean_star.present? ? comment.clean_star : 0 %>",
                      readOnly: true,
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                    };
                    raty(elem, opt);
                  });
                </script>

                <div class="d-flex align-items-center mb-2">
                  <p class="my-auto">アメニティの充実さ　：</p>
                  <div id="star_amenity_<%= comment.id %>"></div>
                </div>
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    var elem = document.querySelector('#star_amenity_<%= comment.id %>');
                    var opt = {
                      score: "<%= comment.amenity_star.present? ? comment.amenity_star : 0 %>",
                      readOnly: true,
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                    };
                    raty(elem, opt);
                  });
                </script>

                <div class="d-flex align-items-center mb-2">
                  <p class="my-auto">安全性　　　　　　　：</p>
                  <div id="star_safety_<%= comment.id %>"></div>
                </div>
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    var elem = document.querySelector('#star_safety_<%= comment.id %>');
                    var opt = {
                      score: "<%= comment.safety_star.present? ? comment.safety_star : 0 %>",
                      readOnly: true,
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                    };
                    raty(elem, opt);
                  });
                </script>

                <div class="d-flex align-items-center mb-2">
                  <p class="my-auto">コストパフォーマンス：</p>
                  <div id="star_cost_<%= comment.id %>"></div>
                </div>
                <script>
                  document.addEventListener("DOMContentLoaded", function() {
                    var elem = document.querySelector('#star_cost_<%= comment.id %>');
                    var opt = {
                      score: "<%= comment.cost_star.present? ? comment.cost_star : 0 %>",
                      readOnly: true,
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                    };
                    raty(elem, opt);
                  });
                </script>
              </div>
              <hr>


              <p class="card-text"><%= comment.comment %></p>
                <small class="text-muted"> - 投稿日：<%= comment.created_at.strftime("%Y/%m/%d") %></small>
            </div>
          </div>
          <div class="pb-3">
            <% if current_admin %>
              <%= link_to '削除', admin_post_comment_path(post, comment), data: { confirm: '本当に削除しますか？' }, method: :delete, class: "btn btn-danger mx-4" %>
            <% elsif comment.user_id == current_user.id %>
              <%= link_to '編集', edit_post_comment_path(post, comment), class: "btn btn-success mx-4" %>
              <%= link_to '削除', [post, comment], data: { confirm: '本当に削除しますか？' }, method: :delete, class: "btn btn-danger mx-4" %>
            <% end %>
          </div>
          <!--レビュー機能入れたら、右上にボタン設置させてみる-->
        </div>
      <% end %>
    <% else %>
      <p>まだレビューがありません。</p>
    <% end %>
  </div>
</div>
<hr>