<!--each使えるか検証→OK-->
<% ratings = [
  { label: "総合評価　　　　　　：", score_type: :total_star },
  { label: "ドッグランの広さ　　：", score_type: :extent_star },
  { label: "清潔さ　　　　　　　：", score_type: :clean_star },
  { label: "アメニティの充実さ　：", score_type: :amenity_star },
  { label: "安全性　　　　　　　：", score_type: :safety_star },
  { label: "コストパフォーマンス：", score_type: :cost_star }
] %>

<div class="row mt-5">
  <div class="col-md-10 mb-4 mx-auto">
    <h2>レビュー一覧</h2>
    <% if post.comments.any? %>
      <div id="comment_counter">
        <p>レビュー数：<%= post.comments.count %></p>
      </div>
      <% post.comments.each do |comment| %>
        <div class="card shadow-sm mt-4">
          <div class="card-body">
            <div class="card-title">
              <p>投稿者：<%= link_to comment.user.name, user_path(post.user) %></p>
              <hr>


              <div class="form-group">
                <% ratings.each do |rating| %>
                  <div class="d-flex align-items-center mb-2">
                    <p class="my-auto"><%= rating[:label] %></p>
                    <div id="star_<%= rating[:score_type] %>_<%= comment.id %>"></div>
                  </div>
                  <script>
                    $(document).on('turbolinks:load', function() {
                      var elem = document.querySelector('#star_<%= rating[:score_type] %>_<%= comment.id %>');
                      if (elem == null) return;
                      elem.innerHTML = ""
                      var opt = {
                        score: "<%= comment[rating[:score_type]].present? ? comment[rating[:score_type]] : 0 %>",
                        readOnly: true,
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                      };
                      raty(elem, opt);
                    });
                  </script>
                <% end %>
              </div>
              <hr>


              <p class="card-text"><%= comment.comment %></p>
                <small class="text-muted"> - 投稿日：<%= comment.created_at.strftime("%Y/%m/%d") %></small>
            </div>
          </div>
          <div class="pb-3">
            <% if current_admin %>
              <%= link_to '削除', admin_post_comment_path(post, comment), data: { confirm: '本当に削除しますか？' }, method: :delete, class: "btn btn-danger mx-4" %>
            <% elsif comment.user_id == current_user.id %>
              <%= link_to '編集', edit_post_comment_path(post, comment), class: "btn btn-success mx-4" %>
              <%= link_to '削除', [post, comment], data: { confirm: '本当に削除しますか？' }, method: :delete, class: "btn btn-danger mx-4", remote: true %>
            <% end %>
          </div>
          <!--レビュー機能入れたら、右上にボタン設置させてみる-->
        </div>
      <% end %>
    <% else %>
      <p>まだレビューがありません。</p>
    <% end %>
  </div>
</div>
<hr>