<% ratings = [
  { label: "総合評価　　　　　　：", score_type: :total_star },
  { label: "ドッグランの広さ　　：", score_type: :extent_star },
  { label: "清潔さ　　　　　　　：", score_type: :clean_star },
  { label: "アメニティの充実さ　：", score_type: :amenity_star },
  { label: "安全性　　　　　　　：", score_type: :safety_star },
  { label: "コストパフォーマンス：", score_type: :cost_star }
] %>

<div class="row my-5">
  <div class="col-md-10 mb-4 mx-auto">
    <h2 class="pb-4">レビュー投稿</h2>
    <div class="card shadow-sm p-4">
      <%= form_with model: [post, comment] do |f| %>

        <div class="form-group" id="star">
          <% ratings.each do |rating| %>
            <div class="d-flex align-items-center mb-2">
              <p class="mt-4"><%= f.label rating[:score_type], rating[:label] %></p>
              <%= f.hidden_field rating[:score_type], id: "review_#{rating[:score_type]}", class: 'form-control' %>
              <div id="comment_<%= rating[:score_type] %>_raty"></div>
            </div>
          <% end %>
        </div>

        <script>
          $(document).on('turbolinks:load', function() {
            let ratings = [
              <% ratings.each do |rating| %>
                { id: '#comment_<%= rating[:score_type] %>_raty', scoreName: 'comment[<%= rating[:score_type] %>]' },
              <% end %>
            ];

            ratings.forEach(function(rating) {
              let elem = document.querySelector(rating.id);
              if (elem == null) return;

              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                scoreName: rating.scoreName
              };
              raty(elem, opt);
            });
          });
        </script>

        <hr>
        <div class="form-group pt-2">
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control", style: "width: 100%;" %>
        </div>

        <%= f.submit "送信", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>