<div class="row my-5">
  <div class="col-md-10 mb-4 mx-auto">
    <h2 class="pb-4">レビュー投稿</h2>
    <div class="card shadow-sm p-4">
      <%= form_with model: [post, comment] do |f| %>

        <div class="form-group" id="star">
          <div class="d-flex align-items-center">
            <p class="mt-4"><%= f.label :total_star, "総合評価　　　　　　：" %></p>
            <%= f.hidden_field :total_star, id: :review_total_star, class: 'form-control' %>
            <div id="comment_total_raty"></div>
          </div>

          <div class="d-flex align-items-center">
            <p class="mt-4"><%= f.label :extent_star, "ドッグランの広さ　　：" %></p>
            <%= f.hidden_field :extent_star, id: :review_extent_star, class: 'form-control' %>
            <div id="comment_extent_raty"></div>
          </div>

          <div class="d-flex align-items-center mb-2">
            <p class="mt-4"><%= f.label :clean_star, "清潔さ　　　　　　　：" %></p>
            <%= f.hidden_field :clean_star, id: :review_clean_star, class: 'form-control' %>
            <div id="comment_clean_raty"></div>
          </div>

          <div class="d-flex align-items-center mb-2">
            <p class="mt-4"><%= f.label :amenity_star, "アメニティの充実さ　：" %></p>
            <%= f.hidden_field :amenity_star, id: :review_amenity_star, class: 'form-control' %>
            <div id="comment_amenity_raty"></div>
          </div>

          <div class="d-flex align-items-center mb-2">
            <p class="mt-4"><%= f.label :safety_star, "安全性　　　　　　　：" %></p>
            <%= f.hidden_field :safety_star, id: :review_safety_star, class: 'form-control' %>
            <div id="comment_safety_raty"></div>
          </div>

          <div class="d-flex align-items-center mb-2">
            <p class="mt-4"><%= f.label :cost_star, "コストパフォーマンス：" %></p>
            <%= f.hidden_field :cost_star, id: :review_cost_star, class: 'form-control' %>
            <div id="comment_cost_raty"></div>
          </div>
        </div>

        <script>
          $(document).on('turbolinks:load', function() {
            let ratings = [
              { id: '#comment_total_raty', scoreName: 'comment[total_star]' },
              { id: '#comment_extent_raty', scoreName: 'comment[extent_star]' },
              { id: '#comment_clean_raty', scoreName: 'comment[clean_star]' },
              { id: '#comment_amenity_raty', scoreName: 'comment[amenity_star]' },
              { id: '#comment_safety_raty', scoreName: 'comment[safety_star]' },
              { id: '#comment_cost_raty', scoreName: 'comment[cost_star]' }
            ];

            ratings.forEach(function(rating) {
              let elem = document.querySelector(rating.id);
              if (elem == null) return;

              let opt = {
                starOn: "<%= asset_path('star-on.png') %>",
                starOff: "<%= asset_path('star-off.png') %>",
                scoreName: rating.scoreName
              };
              raty(elem, opt);
            });
          });
        </script>

        <hr>
        <div class="form-group pt-2">
          <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに", class: "form-control", style: "width: 100%;" %>
        </div>

        <%= f.submit "送信", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<!--レビュー機能追加したら、レビュー項目入れて、コントローラーの仮データ削除-->