<% ratings = [
  { label: "総合評価　　　　　　：", score_type: :total_star },
  { label: "ドッグランの広さ　　：", score_type: :extent_star },
  { label: "清潔さ　　　　　　　：", score_type: :clean_star },
  { label: "アメニティの充実さ　：", score_type: :amenity_star },
  { label: "安全性　　　　　　　：", score_type: :safety_star },
  { label: "コストパフォーマンス：", score_type: :cost_star }
] %>

<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5 posts1">
      <h1 class="text-center my-3">コメント編集</h1>
      <h5 class="text-secondary">※レビューは編集できません。</h5>

      <div class="form-group">
        <% ratings.each do |rating| %>

        <div class="d-flex align-items-center mb-2">
          <p class="my-auto"><%= rating[:label] %></p>
          <div id="star_<%= rating[:score_type] %>_<%= @comment.id %>"></div>
        </div>
        <script>
          $(document).on('turbolinks:load', function() {
            var elem = document.querySelector('#star_<%= rating[:score_type] %>_<%= @comment.id %>');
            if (elem == null) return;
            elem.innerHTML = ""
            var opt = {
              score: "<%= @comment[rating[:score_type]].present? ? @comment[rating[:score_type]] : 0 %>",
              readOnly: true,
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
            };
            raty(elem, opt);
          });
        </script>


        <% end %>
      </div>

      <%= form_with model: [@post, @comment], local: true do |comment| %>
        <%= comment.text_area :comment, rows: '5', class: "form-control", style: "width: 100%;", required: true %>
        <!--required：空欄で保存できない設定-->
      <div class="form-group my-5">
        <%= comment.hidden_field :post_id, value: @post.id %>
        <%= comment.submit '保存', class: 'btn btn-primary btn-block mb-5' %>
        <%= link_to '削除', post_comment_path(@comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-block" %>
      </div>
    <% end %>

    </div>
  </div>
</div>


