<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 mt-5 posts1">
      <div class="card shadow p-3 mb-5">
        <% if flash[:error] %>
          <div class="alert alert-danger">
            <p><%= simple_format(flash[:error]) %></p>
          </div>
        <% end %>
        <h1 class="text-center">
          <% if request.path.include?("edit") %>
            投稿編集
          <% else %>
            新規投稿
          <% end %>
        </h1>

        <div class="mb-4">
          <%= form_with model: post do |f| %>



<div class="form-group">
  <p>画像</p>
  <%= f.file_field :image, accept: "image/*", class: "responsive-file-field", id: "imageInput" %>
  <div id="new-image" class="mt-2">
    <% if post.image.attached? %>
      <p>現在のファイル</p>
      <%= image_tag post.image, class: "new-img img-fluid mt-2" %>
    <% end %>
  </div>
</div>



            <div class="form-group">
              <p>名称</p>
              <%= f.text_field :title, class: 'form-control', placeholder: 'ドッグランの名前', required: true %>
              <!--required：空欄で保存できない設定-->
            </div>

            <div class="form-group">
              <p>住所</p>
              <%= f.text_field :address, class: 'form-control', placeholder: '例: 東京都千代田区丸の内１丁目', required: true %>
            </div>

            <div class="form-group">
              <p>ホームページ</p>
              <%= f.text_field :hp, class: 'form-control', placeholder: '例: https://runbuddy.com', required: true %>
            </div>

            <div class="form-group">
              <p>紹介文</p>
              <%= f.text_area :introduction, class: 'form-control', rows: 5, placeholder: '例: このドッグランには全犬種が楽しめるプールがあります。暑い夏の日には、犬たちが水遊びをしてリフレッシュできる理想的な場所です。大型犬も小型犬も安心して遊べる環境が整っています。', required: true %>
            </div>

            <div class="form-group mx-2">
              <p>タグ</p>
              <div class="d-flex flex-wrap justify-content-start">
                <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
                  <div class="form_check mb-1 ml-3" style="flex: 0 0 calc(32% - 10px);">
                    <%= tag.label class: 'form-check-label' do %>
                      <%= tag.check_box class: 'form-check-input' %>
                      <%= tag.text %>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <div class="form-group">
                <p>公開/非公開</p>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :is_active, true, { class: "form-check-input", id: "inlineRadio1" } %>
                  <%= f.label :is_active, "公開", value: true, class: "form-check-label", for: "inlineRadio1" %>
                </div>
                <div class="form-check form-check-inline">
                  <%= f.radio_button :is_active, false, { class: "form-check-input", id: "inlineRadio2" } %>
                  <%= f.label :is_active, "非公開", value: false, class: "form-check-label", for: "inlineRadio2" %>
                </div>
              </div>

            </div>

            <div class="mt-4">
              <% if request.path.include?("edit") %>
                <%= f.submit '保存', class: 'btn btn-primary btn-block mb-5' %>
                <%= link_to '削除', post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-block" %>
              <% else %>
                <%= f.submit '投稿する', class: 'btn btn-primary btn-block' %>
              <% end %>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>