<div class="row col-md-12">
  <div class="col-md-3">
    <h3 class="ml-2">目次</h3>
    <div class="card p-2 mb-2">
      <% posts.each do |post| %>
        <h6><%= link_to post.title, "#post-#{post.id}", class: "d-block mb-2" %></h6>
      <% end %>
    </div>
  </div>
  <div class="col-md-9">
    <div class='w-100 my-2 text-center'>
      <%= form_with url: url, method: :get do |sort| %>
        <%= sort.select :sort, options_for_select([['投稿順(古)', 'created_at_asc'], ['投稿順(新)', 'created_at_desc'], ['ブックマーク順', 'favorited_desc'], ['コメント件数順', 'comments_desc']], params[:sort]) %>
        <%= sort.submit '並び替え', class: "btn btn-secondary btn-sm" %>
      <% end %>
    </div>
    <div><!-- card start -->
    <% posts.each do |post| %>
      <div class="card shadow mx-2 p-1 mb-4 index-card d-flex justify-content-center" id="post-<%= post.id %>">

        <div class="swiper index-swiper" id="swiper-<%= post.id %>">

          <div class="swiper-wrapper">
            <% post.images.each do |image| %>
              <div class="swiper-slide">
                <%= image_tag image, class: "square-image card-img-top" %>
              </div>
            <% end %>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>

        <script>
              swiper = new Swiper("#swiper-<%= post.id %>", {
              loop: true, // ループ
              speed: 3000, // 少しゆっくり(デフォルトは300)
              autoplay: { // 自動再生
                delay: 1000, // 1秒後に次のスライド
                disableOnInteraction: false, // 矢印をクリックしても自動再生を止めない
              },
              // ページネーション
              pagination: {
                el: ".swiper-pagination",
                clickable: true,
              },
              // 前後の矢印
              navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
              },
            });
        </script>

        <div class="card-body">
          <p>
            <% post.tags.each do |tag| %>
              <button type="button" class="btn btn-secondary btn-sm mb-1" disabled>
                <span><%= link_to tag.name, tag_posts_path(tag.id), class: "text-white" %></span>
              </button>
            <% end %>
          </p>

          <h3 class="card-title"><%= post.title %></h3>
          <p class="card-text"><%= post.introduction %></p>
          <hr>
          <p class="card-text">コメント数：<%= post.comments.count %></p>
          <hr>
          <p>
             <strong>ブックマーク数：</strong>
            <span id="favorite_btn_<%= post.id %>"><%= render 'user/favorites/btn', post: post %></span>
          </p>
          <hr>
          <p>平均総合評価：<%= render 'user/comments/average_star', average_total_star: post.average_total_star, post: post %></p>

          <% if user_signed_in? %>
            <%= link_to "詳細", post_path(post.id, return_to: request.fullpath), class: "btn btn-primary" %>
          <% else %>
            <%= link_to "詳細", admin_post_path(post.id, return_to: request.fullpath), class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
    </div><!-- card end -->

  </div>
  <div class="row mx-auto my-3">
    <%= paginate posts, outer_window: 3 %>
  </div>
</div><!-- row end ->
