<div class="row posts1">
  <div class="col-md-12 my-3">
    <h2 class="text-center display-4 my-3">ドッグラン詳細</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-5 d-flex justify-content-center">
    <%= image_tag post.get_image, class: "img-thumbnail shadow-lg" %>
  </div>
  <div class="col-md-7 posts1 mt-10 my-auto">
    <p><i class="fa-solid fa-marker"></i> <strong>名称：</strong> <%= post.title %></p>
    <hr>
    <p><i class="fas fa-map-marker-alt"></i> <strong>住所：</strong> <%= post.address %></p>
    <hr>
    <p><i class="fas fa-link text-primary"></i><a href="<%= post.hp %>" target="_blank"><%= post.hp %></a></p>
    <hr>
    <p><i class="fas fa-info-circle"></i> <strong>紹介文：</strong> <%= post.introduction %></p>
    <hr>
    <p><i class="fa-solid fa-user"></i> <strong>投稿者：
    <% if user_signed_in? %>
      <%= link_to post.user.name, user_path(post.user) %>
    <% else %>
      <%= link_to post.user.name, admin_user_path(post.user) %>
    <% end %>
    </strong></p>
    <% if current_user == post.user %>
      <p><%= link_to '編集', edit_post_path(post), class: "btn btn-success" %><%= link_to '削除', post_path(post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger mx-2" %></p>
    <% end %>
    <%= link_to '戻る', 
  </div>
</div>