<div class="container">
  <div class="row">
    <div class="col-md-12 posts1 my-3">
      <h2 class="text-center display-4">ドッグラン詳細</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 d-flex justify-content-center my-3">
      <%= image_tag @post.get_image, class: "img-thumbnail shadow-lg" %>
    </div>
    <div class="col-md-6 posts1 mt-10 my-auto">
      <p><i class="fa-solid fa-marker"></i> <strong>名称：</strong> <%= @post.title %></p>
      <hr>
      <p><i class="fas fa-map-marker-alt"></i> <strong>住所：</strong> <%= @post.address %></p>
      <hr>
      <p><i class="fas fa-link text-primary"></i><a href="<%= @post.hp %>" target="_blank"><%= @post.hp %></a></p>
      <hr>
      <p><i class="fas fa-info-circle"></i> <strong>紹介文：</strong> <%= @post.introduction %></p>
      <hr>
      <p><i class="fa-solid fa-user"></i> <strong>投稿者：<%= link_to @post.user.name, user_path(@post_user) %></strong></p>
      <% if current_user == @post.user %>
        <p><%= link_to '編集', edit_post_path(@post), class: "btn btn-warning mt-3" %></p>
        <p><%= link_to '削除', post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger my-3" %></p>

      <% end %>
    </div>
  </div>
</div>