<!DOCTYPE html>
<html>
  <head>
    <title>RunBuddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/097f084810.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Mochiy+Pop+One&family=Rampart+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="bg-secondary top2 text-right px-2">
      <% if user_signed_in? || current_admin %>
        <%= render "searches/search_form" %>
      <% end %>
    </div>

    <% if flash[:notice] %>
      <div class="alert alert-warning text-center font-weight-bold mb-0">
        <%= flash[:notice] %>
      </div>
    <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger text-center font-weight-bold mb-0">
        <%= flash[:alert] %>
      </div>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
